@{
    ViewData["Title"] = "Home Page";
}
    <main>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Barcelos Viagens</h1>
                <p class="lead"><p>(...)Uma agencia de viagens feita por mineiros para quem deseja conhecer os lugares mais lindos de Minas Gerais(...)</p>
            </div>
        </div>
            
    </main>

